* {
    box-sizing: border-box
}
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}
main {
    display: block
}
:focus {
    outline: 0
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}
a:focus {
    outline: thin dotted
}
a:active, a:hover {
    outline: 0
}
a {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    text-decoration: none
}
body, html {
    height: 100%
}
body, input {
    font-family: Montserrat, sans-serif
}
body {
    font-family: ProximaNova, serif;
    line-height: 1;
    font-size: 16px;
    color: #000
}
html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}
@font-face {
    font-display: swap;
    font-family: ProximaNova;
    src: url(../fonts/ProximaNova/Light/ProximaNova-Light.woff2) format("woff2"), url(../fonts/ProximaNova/Light/ProximaNova-Light.woff) format("woff");
    font-weight: 300;
    font-style: normal
}
@font-face {
    font-display: swap;
    font-family: ProximaNova;
    src: url(../fonts/ProximaNova/Regular/ProximaNova-Regular.woff2) format("woff2"), url(../fonts/ProximaNova/Regular/ProximaNova-Regular.woff) format("woff");
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-display: swap;
    font-family: ProximaNova;
    src: url(../fonts/ProximaNova/Medium/ProximaNova-Medium.woff2) format("woff2"), url(../fonts/ProximaNova/Medium/ProximaNova-Medium.woff) format("woff");
    font-weight: 500;
    font-style: normal
}
@font-face {
    font-display: swap;
    font-family: ProximaNova;
    src: url(../fonts/ProximaNova/Bold/ProximaNova-Bold.woff2) format("woff2"), url(../fonts/ProximaNova/Bold/ProximaNova-Bold.woff) format("woff");
    font-weight: 700;
    font-style: normal
}
@font-face {
    font-display: swap;
    font-family: ProximaNova;
    src: url(../fonts/ProximaNova/Black/ProximaNova-Black.woff2) format("woff2"), url(../fonts/ProximaNova/Black/ProximaNova-Black.woff) format("woff");
    font-weight: 900;
    font-style: normal
}
.second-screen-mobile {
    display: none
}
.container {
    width: 100%;
    padding: 0;
    margin: 0 auto;
    max-width: 520px;
}
.page-wrapper {
    position: relative;
    background-color: #020202;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.page-wrapper h1 {
    font-size: 25px;
    line-height: 35px;
    font-weight: 600;
    text-align: center;
    color: #fff;
}
.page-wrapper .redirect-btn {
    background-color: #3a79ee;
    border-color: #3a79ee;
    color: #fff;
    height: 50px;
    border-radius: 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    letter-spacing: .05em;
    text-transform: uppercase;
    padding: 0 20px;
}
.page-wrapper .button-block {
    display: flex;
    justify-content: center;
    margin: 0 15px;
}
.page-wrapper .first-screen {
    background-image: url(../images/first-screen-bg-800-ia.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    height: auto;
}
.page-wrapper .first-screen-content {
    padding-left: 0;
    margin-bottom: 60px;
}
.page-wrapper .first-screen-content__logo {
    padding-left: 15px;
    margin-top: 15px;
    margin-bottom: 235px;
}
.page-wrapper .first-screen-content__logo img {
    width: 120px;
    height: 60px;
}
.page-wrapper .first-screen-content__title {
    padding-left: 5px
}
.page-wrapper .first-screen-content__description {
    font-size: 35px;
    line-height: 42px;
    font-weight: 300;
    color: #aaaeb3;
    text-align: center;
    margin-bottom: 62px
}
.page-wrapper .first-screen-content__download-block {
    display: none;
    color: #fff;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
}
.page-wrapper .first-screen-content__download-block .left-side {
    width: 50%;
    padding: 15px 90px 15px 0;
    border-right: 1px solid #6f6f6f;
}
.page-wrapper .first-screen-content__download-block .right-side {
    width: 50%;
    padding: 15px 0 15px 90px;
}
.page-wrapper .second-screen-desktop {
    display: none;
    background-image: url(../images/second-screen-bg-800-ia.png);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: auto;
}
.page-wrapper .second-screen-content__title {
    text-align: center;
    margin-top: 45px;
    margin-bottom: 0;
}
.page-wrapper .second-screen-content__title .first-text {
    font-size: 20px;
    line-height: 22px;
    font-weight: 700;
    color: #fff;
    padding-left: 20px;
}
.page-wrapper .second-screen-footer .second-screen-footer__text-block {
    padding: 15px;
    font-size: 18px;
    line-height: 29px;
    font-weight: 700;
    color: #fff;
    text-align: center;
}
.page-wrapper .second-screen-mobile {
    display: block;
    position: relative;
}
.page-wrapper .second-screen-mobile img {
    width: 320px;
    height: 390px;
}
.page-wrapper .second-screen-mobile .second-screen-bg-1 {
    position: absolute;
    height: 400px;
    top: 45px;
    right: 0;
}
.page-wrapper .second-screen-mobile .second-screen-bg-2 {
    position: relative;
    height: 400px;
    top: 0;
    left: 0;
    margin-top: 400px;
}
.page-wrapper .page-footer {
    background: #050608;
    text-align: center;
    position: relative;
    z-index: 2
}
@media only screen and (min-width: 400px) {
    .page-wrapper .second-screen-mobile .second-screen-bg-2 {
        height: 460px;
        margin-top: 460px;
    }
    .page-wrapper .second-screen-mobile img {
        width: auto;
        height: auto;
    }
}
@media only screen and (min-width: 768px) {
    .container {
        max-width: 800px;
    }
    .page-wrapper {
        min-height: 100%;
    }
    .page-wrapper h1 {
        font-size: 30px;
        line-height: 41px;
    }
    .page-wrapper .first-screen{
        background-image: url(../images/first-screen-bg-800-ia.png);
    }
    .page-wrapper .first-screen-content {
        padding-left: 25px;
        margin-bottom: 60px;
    }
    .page-wrapper .first-screen-content__logo {
        padding-left: 45px;
        margin-top: 28px;
        margin-bottom: 368px;
    }
    .page-wrapper .first-screen-content__logo img {
        width: 175px;
        height: 85px;
    }
    .page-wrapper .first-screen-content__title {
        margin-bottom: 5px;
    }
    .page-wrapper .first-screen-content__download-block {
       display: flex;
    }
    .page-wrapper .first-screen-content__download-block .left-side {
        padding: 23px 55px 10px 30px;
    }
    .page-wrapper .first-screen-content .right-side {
        padding: 23px 30px 10px 55px;
    }
    .page-wrapper .second-screen-mobile {
        display: none;
    }
    .page-wrapper .second-screen-desktop {
        display: block;
        background-size: auto;
        background-position: 50% 100%;
    }
    .page-wrapper .second-screen-content__title {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 550px;
    }
    .page-wrapper .second-screen-content__title .first-text {
        padding-left: 0;
    }
    .page-wrapper .second-screen-footer .second-screen-footer__text-block {
        font-size: 20px;
    }
}
@media only screen and (min-width: 1200px) {
    .container {
        max-width: 1000px;
    }
    .page-wrapper {
        min-height: 100%;
    }
    .page-wrapper h1 {
        font-size: 40px;
        line-height: 54px;
    }
    .page-wrapper .first-screen{
        background-image: url(../images/first-screen-bg-ia.png);
        height: 100vh;
    }
    .page-wrapper .first-screen-content {
        padding-left: 25px;
        margin-bottom: 60px;
    }
    .page-wrapper .first-screen-content__logo {
        padding-left: 10px;
        margin-top: 36px;
        margin-bottom: 400px;
    }
    .page-wrapper .first-screen-content__logo img {
        width: 175px;
        height: 85px;
    }
    .page-wrapper .first-screen-content__download-block {
        display: flex;
        font-size: 20px;
        line-height: 26px;
    }
    .page-wrapper .first-screen-content__download-block .left-side {
        padding: 19px 55px 15px 132px;    }
    .page-wrapper .first-screen-content .right-side {
        padding: 19px 132px 15px 55px;
    }
    .page-wrapper .second-screen-desktop {
        background-image: url(../images/second-screen-bg-ia.png);
    }
    .page-wrapper .second-screen-content__title {
        margin-top: 40px;
        margin-bottom: 745px;
    }
    .page-wrapper .second-screen-content__title .first-text {
        font-size: 30px;
        line-height: 29px;
        padding-left: 20px;
    }
}
